<header>
    <div class="header-left">
        <h1>Travel Go</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#destinations">Destinations</a></li>
                <li><a href="/pakage">Packages</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <!-- <div class="header-right">
        <a href="/login">Login</a>
        <a href="#">Profile</a>
    </div> -->
</header>