{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'register.css' %}" />
    <title>Ludiflex | Login & Registration</title>
  </head>
  <body>
    <body>
      <form action="post">
        {% csrf_token %}
        <div class="login-box">
          <div class="login-header">
            <header>Register</header>
          </div>
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Username"
              autocomplete="off"
              name="Username"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Name"
              autocomplete="off"
              name="Name"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Email"
              autocomplete="off"
              name="Email"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Contact"
              autocomplete="off"
              name="Contact"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Address"
              autocomplete="off"
              name="Address"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="password"
              class="input-field"
              placeholder="Password"
              autocomplete="off"
              name="Password"
              required
            />
          </div>
          <div class="forgot"></div>
          <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Sign In</label>
          </div>
          <div class="sign-up-link">
            <p>Don't have account? <a href="#">Sign Up</a></p>
          </div>
        </div>
      </form>
    </body>
  </body>
</html>
